$primaryColor: #ED217C;

.nav {
    height: 64px;

    &__logo {
        display: flex;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        color: $primaryColor;
        text-decoration: none;
        text-transform: uppercase;
        padding-top: 10px;
        cursor: pointer;
    }

    &__link {
        display: block;
        text-transform: uppercase;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-weight: 700;
        padding: 1rem;
        cursor: pointer;

        &.mobile {
            text-align: center;
        }

        &.lg {
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                transition: all 0.3s ease-in-out;
            }
    
            &:hover::after {
                background-color: $primaryColor;
            }
        }
    } 
    
    @media screen and (max-width: 899px) {
        &__logo {
            flex-grow: 1;
            font-size: 1.5rem;
            letter-spacing: 0;
        }
    }
}