$primaryColor: #ED217C;
$secondaryColor: #252422;
$creamColor: #FFFCF2;

body {
    margin: 0;
    padding: 0;
}

.hero-section {
    height: 100vh;
    width: 100vw;
    
    &__container {
        display: flex !important;
        flex-direction: column;
        height: 90vh;
        justify-content: center;
    }

    &__title {
        color: $secondaryColor;

        .custom-type-animation::after {
            content: '|';
            animation: blink 1s step-start infinite;
        }
        @keyframes blink {
            50% {
                opacity: 0;
            }
        }
    }
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    color: $secondaryColor;
}



