$primaryColor: #ED217C;
$black: #252422;

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.running-message {
    color: #fff;
    width: 100%;
    height: 120px;
    background-color: $primaryColor;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    position: relative;

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        text-transform: uppercase;
        letter-spacing: -8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        > div {
            width: 110vw;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 175px;
            font-weight: normal;
            transition: all 0.1s linear;
            cursor: default;
            width: fit-content;

            &:hover {
                -webkit-text-stroke: 2px white;
                color: transparent;
            }
        }
        
        .from-left {
            animation: slideFromLeft 10s linear infinite;
        }

        .from-right {
            animation: slideFromRight 8s linear infinite;
        }
        
        @keyframes slideFromRight {
            0% { transform: translateX(0)}
            100% { transform: translateX(-100%)}
        }

        @keyframes slideFromLeft {
            0% { transform: translateX(-100%)}
            100% { transform: translateX(0)}
        }
    }

    @media screen and (min-width: 1028px) {
        .from-left, .from-right {
            animation-duration: 8s !important;
        }
    }

    @media screen and (max-width: 899px) {
        height: 104px;

        &__container {
            h1 {
                font-size: 150px;
            }
        } 
    }

    @media screen and (max-width: 599px) {
        height: 63px;

        &__container {
            .from-left, .from-right {
                animation: unset !important;
            }

            .from-left:nth-of-type(2), .from-right:nth-of-type(2) {
                display: none;
            }

            > div {
                width: 100%;
            }

            h1 {
                font-size: 80px;
                margin-left: 5vw; 
            }
        } 
        
    }
}
